---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'WLZ',
};
---

<Layout metadata={metadata}>
  <div class="flex min-w-full">
    <div class="p-8">
      <div class="mb-4">
        <h1 class="text-white text-2xl">WLZ</h1>
        <p>Start WT on RF in Shadow</p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl">Phrase 1</h2>
        <ul>
          <li>- - - HOLD first 3 cts</li>
          <li>2 - 3& Forward step then back run</li>
          <li>3 - - Hold</li>
          <li>4 2 3 1/2 left open box in shadow</li>
          <li>5& 2 3 1/2 left open box w/ turn for MK</li>
          <li>6 2 3 Turn out of shadow for MK</li>
          <li>6 2& 3 Chasse for JK</li>
          <li>7 2 3 1/2 Natural Turn</li>
          <li>8 2& 3 UAT into line for MK</li>
          <li>8 2 3 Facilitate turn w/ RH for JK</li>
        </ul>
      </div>
      <h2 class="text-xl">Phrase 2</h2>
      <h2 class="text-xl">Phrase 3</h2>
      <h2 class="text-xl">Phrase 4</h2>
    </div>
  </div>
</Layout>
