---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'WLZ',
};
---

<Layout metadata={metadata}>
  <div class="flex min-w-full">
    <div class="p-8">
      <div class="mb-4">
        <h1 class="text-white text-2xl">WLZ</h1>
        <p>Start WT on RF in Shadow</p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl">Phrase 1</h2>
        <ul>
          <li>- - - HOLD first 3 cts</li>
          <li>2 - 3& Forward step then back run</li>
          <li>3 - - Hold</li>
          <li>4 2 3 1/2 left open box in shadow</li>
          <li>5& 2 3 1/2 left open box w/ turn for MK</li>
          <li>6 2 3 Turn out of shadow for MK</li>
          <li>6 2& 3 Chasse for JK</li>
          <li>7 2 3 1/2 Natural Turn</li>
          <li>8 2& 3 UAT into line for MK</li>
          <li>8 2 3 Facilitate turn w/ RH for JK</li>
        </ul>
      </div>
      <h2 class="text-xl">Phrase 2</h2>
      <ul>
        <li>1 - - Explosion Line</li>
        <li>2 2 3 Twinkle for MK into side by side</li>
        <li>2 - 3 Partial twinkle (canter) for JK</li>
        <li>3 2&3 Free spin to R for MK, chasse JK</li>
        <li>4 2 3 Twinkle</li>
        <li>5 2 3 1/2 Natural Turn</li>
        <li>6 2 3 Flip Flop</li>
        <li>7& 2 3 Pivot</li>
        <li>8& 2& 3 Pivot to free spin for MK</li>
        <li>8& 2 3 Pivot for JK</li>
      </ul>
      <h2 class="text-xl">Phrase 3</h2>
      <ul>
        <li>1 - - Line to sky for MK, rotate to face JK on 3 w/o wt</li>
        <li>2 2 3 Wrap MK, Back run JK</li>
        <li>3 - - Shape</li>
        <li>4 2 3 1/2 Left open box</li>
        <li>5& 2 3 1/2 left open box w/ wrapped turn</li>
        <li>6 2 3 Get out of wrap for MK</li>
        <li>6 - 3 JK canter to unwrap</li>
        <li>7 2& 3 Free spin MK, Chasse JK</li>
        <li>8& 2 3& Quick left to throwaway</li>
      </ul>
      <h2 class="text-xl">Phrase 4</h2>
      <ul>
        <li>1 - - throwaway</li>
        <li>- - - throwaway</li>
      </ul>
    </div>
  </div>
</Layout>
